.jumbotron {
    background-color: #fff;
    margin-top: 4rem;

    &__inner {
        margin: 0 auto;
        text-align: center;
    }

    &__main {
        font-weight: bold;
        position: relative;

        
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: -15px;//topから15px上に移動
            display: inline-block;
            width: 60px;
            height: 2px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: black;
            border-radius: 2px;
        }
    }

    &__cards {
        // display: flex;
        // justify-content: space-between;
        text-align: left;

        &__header {
            padding: 1.25rem;
        }
    }
}

   




