.jumbotron-middle-pic {
    background-image: url(https://picsum.photos/500/500);
    background-size: cover;
    height: 70vh;
    margin-top: 4rem;
}

.jumbotron-middle-pic h1 {
    text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.jumbotron-middle-pic p {
    text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}